**__pycache__
*~
*#
**venv
/out
/m2isar_perf/temp
/m2isar_perf/backends/graph_printer/temp
/m2isar_perf/backends/graph_printer/out
/m2isar_perf/backends/estimator_gen/out
/m2isar_perf/backends/monitor_gen/temp